* {
    background-color: rgb(233, 251, 221)
}

body {
    padding: 2%;
}

.cabecalho {
    background-color: blueviolet;
    padding: 20px;
    text-decoration: none;
    margin-top: 0;
}

#nome {
    text-align: center;
}

.bloco1-2 {
    height: 320px;
    position: relative;
}

#minha_foto {
    float: left;
    padding: 10px;
    width: 300px;
    background-color: blueviolet;
}


.paragrafo {
    position: absolute;
    top: 35%;
    right: 30%;
}

.cabecalho a {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
}

#titulo {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-color: blueviolet;
}

#nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragrafo {
    font-family: Arial, Helvetica, sans-serif;
}

#origem {
    text-decoration: underline;
    color: black
}

.habilidades {
  font-size: 18px;
  text-decoration: none
}

ul li:nth-child(odd) {
    font-style: italic;
}

.js {
    color: yellowgreen
}

.node {
    color: brown
}

.css {
    color: red
}

.html {
    color: green
}

.java {
    color: purple
}

.comunica {
    color: blueviolet
}

.empatia {
    color: lightcoral
}

.esforco {
    color: chocolate;
}

.profi {
    color: cornflowerblue;
}   

.rodape {
    background-color: blueviolet;
    text-align: center;
    padding: 10px;

}

.rodape a {
    color: white;
    text-decoration: none;
    background-color: blueviolet;
}